.container {
  min-height: 100vh;
  // max-width: rem(1440);
  background-image: url("/images/bg-pattern-desktop.svg");
  background-size: contain;
  background-repeat: repeat;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas:
    "logo hero"
    "content hero";
  @include breakpoint-down(other) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 3fr 4fr;
    grid-template-areas:
      "logo logo logo"
      "mobile mobile mobile"
      "content content content";
  }
  .logo__container {
    grid-area: logo;
    align-self: center;
    max-width: 26.125rem;
    img {
      @include breakpoint-down(other) {
        height: auto;
        width: rem(100);
      }
    }
  }

  .hero__container {
    background-image: url("/images/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    grid-area: hero;
    @include breakpoint-down(other) {
      background-image: url("/images/hero-mobile.jpg");
      grid-area: mobile;
      background-position: center center;
      background-size: contain;
    }
  }

  .contents {
    grid-area: content;
    align-items: center;
    display: grid;
    align-self: flex-start;
    max-width: 26.125rem;
    h1 {
      word-spacing: 100vw;
      font-weight: 500;
      font-size: rem(50);
      text-transform: uppercase;
      color: $grayishRed;
      letter-spacing: rem(20);
      @include breakpoint-down(other) {
        text-align: center;
        font-size: rem(30);
        letter-spacing: rem(10);
        padding: rem(16);
      }

      span {
        color: $desaturatedRed;
        font-weight: 300;
      }
    }
    &__message {
      color: $desaturatedRed;
      font-weight: 300;
      padding: rem(40) 0;
      line-height: 1.6;
      font-size: rem(16);
      @include breakpoint-down(other) {
        text-align: center;
        padding: rem(12) rem(5);
      }
    }
    form {
      border: solid 1px $desaturatedRed;
      border-radius: rem(30);
      height: rem(48);
      width: 100%;
      margin: 0 auto;
      margin-top: 1rem;
      @include breakpoint-down(other) {
        width: 90%;
      }
      .input__container {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: end;
        input {
          flex: 1;
          border: none;
          margin-left: 1.6rem;
          background-color: transparent;
          font-family: inherit;
          color: $desaturatedRed;
          font-size: rem(16);
          outline: none;
          box-shadow: none;
          font-weight: 300;
          &:focus {
            outline: none;
            box-shadow: none;
            border: none;
            border-style: none;
          }
          @include breakpoint-down(other) {
            font-size: rem(14);
          }
        }
        .error {
          margin-right: 0.4rem;
        }
        button {
          height: 100%;
          padding: 1rem 1.8rem;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: rem(30);
          cursor: pointer;
          background: $hoverGradient;
          transition: all 150ms ease-in-out;
          &:hover {
            opacity: 50%;
          }
        }
      }
      .error--message {
        text-align: left;
        margin-left: 1.6rem;
        color: rgb(227, 2, 2);
        font-weight: 400;
        outline: none;
        text-decoration: none;
        padding: rem(16) 0;
      }
    }
  }
}
